.auth-page{
    width: 100vw;
    height: 60rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.auth-page-cartoon-div{
    background-color: aqua;
    justify-content: flex-end;
}

.auth-page-cartoon-img{
    height: 50rem;
    width: 50rem;
}

.auth-page-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 5rem;
}