.auth-page{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.Logo-auth-page{
    height: 6.5rem;
    margin-left: 16%;
    margin-top: 0.8rem;
}

.auth-page-cartoon-div{
    justify-content: flex-end;
} 

.auth-page-cartoon-img{
    height: 50rem;
    width: 50rem;
}

.auth-page-form{
    width: 47rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 4rem;
}

.cover-width-100{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fade-in{
    display: inline;
    opacity: 1;
}

.fade-out{
    display: none;
    opacity: 0;
}

.auth-page-top{
    height: 8rem;
    margin-bottom: 1rem;
    width: 100%;
    /* background-color: aquamarine; */
    border-bottom: 2px solid #eee;
}

.auth-free-space{
    width: 100%;
    height: 5rem;
}

.set-auth-width{
    width: 100%;
}

