.nave-search-bar{
    width: 27rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(81, 112, 126, 0.6);
    box-sizing: border-box;
    padding: 0.5rem;
    padding-left: 3.5rem;
    transition: all 0.2s;
}

.nav-cont-4{
    position: relative;
}

.icon-style-nav{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.6rem;
    color: rgb(81, 112, 126);
}

.nave-search-bar:hover{
    border: 1px solid rgba(0, 114, 190, 0.705);
}