
.profile-view-cont{
    width: 100%;
    padding: 0.5rem 3rem;
}

.profile-view-cont-top{
    display: flex;
    margin-top: 2rem;
}

.picture-container-333{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 2rem;
}

.picut{
    width: 100%;
    height: auto;
}