.dashboard{
    width: 100%;
    min-height: 100vh;
    background-color:#eee;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(2rem,1fr) 90rem minmax(2rem,1fr);
}

.dashboard-center{
    margin-top: 8rem;
    box-sizing: border-box;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}