.profile-page-form-container{
    padding-left: 2rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 50rem;
}

.profile-page-heaing2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

