/* .navigation-btn-cont{

} */

.navigationbttn{
    font-size: 2.1rem;
    color: rgb(81, 112, 126);
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin: 0.2rem 1.5rem;
}

.navigationbttn:hover{
    color: rgb(0, 105, 146);
}

.bordered-navigation{
    border-bottom: 0.3rem solid rgb(0, 60, 165);
    color : rgb(0, 60, 165)
}

.caret-style{
    font-size: 1.5rem;
    color: #888;
    margin: 0.5rem;
}

