* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto";
  outline: none;
}

html {
  font-size: 62.5%;
}

.color{
  color : rgb(0, 101, 114);
  color : rgb(160, 76, 76)
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.flex2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

